{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "extends": [
        "react-app",
        "airbnb",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier",
        "unused-imports"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": [
                    "src"
                ]
            },
            "es6": {
                "paths": [
                    "src"
                ]
            }
        }
    },
    "rules": {
        // Prettier configs based on airbnb guide
        "prettier/prettier": [
            "warn",
            {
                "arrowParens": "always",
                "bracketSpacing": true,
                "jsxBracketSameLine": false,
                "jsxSingleQuote": false,
                "printWidth": 100,
                "proseWrap": "always",
                "quoteProps": "as-needed",
                "semi": true,
                "singleQuote": true,
                "tabWidth": 2,
                "trailingComma": "es5",
                "useTabs": false,
                "endOfLine": "auto"
            }
        ],
        "react/jsx-filename-extension": [
            "warn",
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "import/no-extraneous-dependencies": ["warn", {"devDependencies": true}],
        "no-unused-vars": 1,
        "no-console": 1,
        "no-use-before-define": 1,
        "no-underscore-dangle": 0,
        "no-param-reassign": 0, // mutating redux state in redux-toolkit.
        "import/no-unresolved": 2, // raw-loader
        "global-require": 0, // raw-loader
        "react/no-array-index-key": 0,
        "react/no-unescaped-entities": 0,
        "react/destructuring-assignment": 1,
        "react/jsx-props-no-spreading": 0,
        "react/state-in-constructor": 1,
        "react/no-danger": 0,
        "react/prop-types": 0,
        "react/forbid-prop-types": 0,
        "react/require-default-props": 0,
        "react/default-props-match-prop-types": 0,
        "react/no-unused-prop-types": 1,
        "react/react-in-jsx-scope": 0, // after react v17
        "react/jsx-uses-react": 1, // after react v17
        "unused-imports/no-unused-imports": "warn",
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/label-has-associated-control": "warn"
    }
}
