.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* To show the lines on right 
   and left sides of the text */
.divider::after,
.divider::before {
  content: "";
  border: 1px solid rgb(144, 146, 146);
  flex: 1;
}

/* Space on left and right sides of text */
.divider:not(:empty)::before {
  margin-right: 0.25em;
}

.divider:not(:empty)::after {
  margin-left: 0.25em;
}

.ph-no-field .react-tel-input input {
  width: 100% !important;
  height: 52px;
}

.bg-blue {
  background-color: #3287fa !important;
  color: white !important;
}
.bg-blue:hover {
  background-color: #589af7 !important;
}

.btn-blue-white {
  background-color: #3287fa !important;
  color: white !important;
  padding: 2px 10px;
  cursor: pointer;
  user-select: none;
}
.btn-blue-white:hover {
  background-color: #589af7 !important;
}

.font-white-black {
  color: white !important;
}
.font-white-black:hover {
  color: black !important;
}

.btn-white-blue {
  background-color: white !important;
  color: #3287fa !important;
  padding: 2px 10px;
  cursor: pointer;
  user-select: none;
}
.btn-white-blue:hover {
  background-color: whitesmoke !important;
}

.search-bar .MuiFormControl-root .MuiInputBase-root fieldset {
  border: none !important;
}

.search-p-0 div {
  padding: 0px !important;
}

.badge {
  width: 100%;
  padding: 2px 6px;
  border-radius: 5px !important;
  color: white;
  margin: 3px 0px;
}
.badge-gray {
  background-color: #acacac;
}
.color-white {
  color: white;
}

.menu-icon-rotate-180 span .material-icons {
  transform: rotate(180deg);
}

.icon-btn-gray:hover {
  color: #3287fa;
}

.icon-btn-gray {
  color: #dcdcdc;
  cursor: pointer;
}

.icon-gray {
  color: #dcdcdc;
}

.fs-2 {
  font-size: 2px;
}
.fs-4 {
  font-size: 4px;
}
.fs-6 {
  font-size: 6px;
}
.fs-8 {
  font-size: 8px;
}
.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-32 {
  font-size: 32px;
}
.fs-34 {
  font-size: 34px;
}
.fs-36 {
  font-size: 36px;
}
.fs-38 {
  font-size: 38px;
}
.fs-40 {
  font-size: 40px;
}
.fs-42 {
  font-size: 42px;
}
.fs-44 {
  font-size: 44px;
}
.fs-46 {
  font-size: 46px;
}
.fs-48 {
  font-size: 48px;
}
